.comparisonSummary {
	position: relative;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid white;
	background-color: #383e47; /* Same as .bp4-dark .bp4-card */
	height: fit-content;
	margin-bottom: 1rem;
}

h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.iconContainer {
	position: absolute;
	top: 2px;
	right: 2px;
}

.iconContainer:hover {
	/* color: #8abbff; Dark theme primary*/
	color: red;
}